.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

@media screen and (max-width: 680px){
    
    .cabecalhoPrincipal .container{
        flex-direction: column;
    }
    
    .cabecalhoPrincipal-nav{
        margin-bottom: 1px solid black;
        width: 100%;
        align-items: initial;
        flex-direction: column;
        text-align: center;
    }

    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }

}